/* Color variables */
html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 140vh;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: fixed;
  background-color: #fff;
  padding: 4px 15px;
  border-bottom: 1px solid #e2e2e2;
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav div.header-icons {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav div.header-btns {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav a {
  font-size: 1.4em;
  font-weight: 700;
  text-transform: uppercase;
}

nav a:hover {
  text-decoration: underline;
}

nav .menu-icon, nav .search-icon {
  width: 16px;
  height: 16px;
  padding: 8px 9px 9px;
  margin-right: 8px;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

nav .menu-icon:hover, nav .search-icon:hover {
  background-color: #f7f7f7;
}

nav .search-icon {
  margin-right: 16px;
}

nav .main-logo {
  width: 190px;
  height: 25px;
}

nav .header-btns button {
  padding: 11px 12px 8px;
  background-color: #567b95;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 3px;
}

nav .header-btns button:first-child {
  margin-right: 6px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 42px;
}

main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 60px;
  font-family: 'Times New Roman', Times, serif;
}

main article header.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main article header.main-header > h1 {
  display: block;
  margin: 0 auto 16px;
  width: 600px;
  line-height: 1.2em;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 700;
}

main article figure.cover-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px auto 43px;
}

main article figure.cover-figure > img {
  width: 1200px;
}

main article figure.cover-figure > figcaption {
  margin: 10px 20px 0 0;
  max-width: 850px;
  font-size: 16px;
  line-height: 1.3em;
  color: #666;
}

main article figure.cover-figure > figcaption > span {
  letter-spacing: 0.01em;
  font-size: 14px;
  font-weight: 500;
  color: #888888;
}

main article header.secondary-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 600px;
  margin-bottom: 25px;
}

main article header.secondary-header p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}

main article header.secondary-header p span {
  -webkit-text-decoration: underline silver;
          text-decoration: underline silver;
  cursor: pointer;
}

main article header.secondary-header p span:hover {
  text-decoration: none;
}

main article header.secondary-header > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main article header.secondary-header > div time {
  color: #333333;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

main article header.secondary-header > div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main article header.secondary-header > div ul li:not(:last-child) {
  margin-right: 16px;
}

main article header.secondary-header > div ul li:not(.toolbar-icon) svg:hover {
  opacity: 0.3;
  cursor: pointer;
}

main article header.secondary-header > div ul li.toolbar-icon svg {
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 5px;
}

main article header.secondary-header > div ul li.toolbar-icon svg:hover {
  background-color: transparent;
  border-color: #ccc;
  cursor: pointer;
}

main article header.secondary-header > div ul li.toolbar-comments {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}

main article header.secondary-header > div ul li.toolbar-comments i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background: transparent;
  border: 1px solid #666666;
  border-radius: 4px;
  width: auto;
  min-width: 26px;
  min-height: 14px;
  padding: 4px;
}

main article header.secondary-header > div ul li.toolbar-comments i > span {
  color: black;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1em;
}

main article header.secondary-header > div ul li.toolbar-comments i > span::before {
  position: absolute;
  display: block;
  border-color: #666666 transparent;
  border-style: solid;
  border-width: 6px 0px 0px 8px;
  content: "";
  width: 0px;
  bottom: -7px;
  left: 15px;
}

main article header.secondary-header > div ul li.toolbar-comments i > span::after {
  position: absolute;
  display: block;
  border-color: white transparent;
  border-style: solid;
  border-width: 6px 0px 0px 6px;
  width: 0px;
  bottom: -6px;
  content: "";
  left: 16px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
}

section p {
  font-size: 21.5px;
  line-height: 1.3em;
  margin-bottom: 16px;
}

section p a {
  color: #326891;
  text-decoration: underline;
}

section strong {
  font-weight: bold;
}

section .video-player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 30px 0;
}

section .video-player > p {
  margin: 10px 0;
  font-size: 17px;
  color: #666;
  line-height: 1.3em;
}

section .video-player > p > span {
  display: inline;
  color: #888;
  font-size: 15px;
}

.advert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0 26px;
}

.advert .divider {
  width: 72px;
  border-bottom: 1px solid #ccc;
}

.advert .divider-top {
  margin-bottom: 16px;
}

.advert .divider-bottom {
  margin-top: 16px;
}

.advert span {
  color: #333;
}

.advert a {
  color: #326891;
  text-decoration: none;
}

.grid-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  width: 950px;
  margin-bottom: 50px;
}

.grid-display h1 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5em;
  margin-top: 16px;
}

.grid-display > p {
  font-size: 15px;
  color: #666;
}

.grid-display .image-wrapper {
  position: relative;
}

.grid-display .image-wrapper img {
  width: 100%;
}

.grid-display .image-wrapper .image-text {
  position: absolute;
  width: 228px;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-display .image-wrapper .image-text > span {
  font-size: 11px;
  font-weight: bold;
  margin-right: 8px;
  text-transform: uppercase;
  display: inline;
}

.grid-display .image-wrapper .image-text > p {
  font-size: 14px;
  display: inline;
  color: #666;
  line-height: 1.3em;
}

.grid-display .image-wrapper .image-text-1 {
  top: 24.8264%;
  left: 0.0436%;
}

.grid-display .image-wrapper .image-text-2 {
  top: 24.8264%;
  left: 25.5619%;
}

.grid-display .image-wrapper .image-text-3 {
  top: 24.8264%;
  left: 51.0800%;
}

.grid-display .image-wrapper .image-text-4 {
  top: 24.8264%;
  left: 76.5982%;
}

.grid-display .image-wrapper .image-text-5 {
  top: 73.4375%;
  left: 0.0436%;
}

.grid-display .image-wrapper .image-text-6 {
  top: 73.4375%;
  left: 25.5619%;
}

.grid-display .image-wrapper .image-text-7 {
  top: 73.4375%;
  left: 51.0800%;
}

.grid-display .image-wrapper .image-text-8 {
  top: 73.4375%;
  left: 76.5982%;
}

.grid-display > .divider {
  width: 60px;
  border-bottom: 2px solid #333;
  margin: 24px 0 13px;
}

.grid-display > span {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
/*# sourceMappingURL=styles.css.map */