/* Color variables */
$white: #fff
$blue: #326891
$black: #333
$deep-black: #000

html
    font-size: 10px
    font-family: Arial, Helvetica, sans-serif

    min-height: 140vh

header
    display: flex
    justify-content: space-between
    align-items: center

    width: 100%
    position: fixed
    background-color: $white

    padding: 4px 15px 2px
    border-bottom: 1px solid #e2e2e2

    div
        display: flex
        justify-content: center
        align-items: center

        flex: 1

    div.header-icons
        justify-content: flex-start

    div.header-btns
        justify-content: flex-end

    a
        font-size: 1.4em
        font-weight: 700
        text-transform: uppercase

        &:hover
            text-decoration: underline

    .menu-icon, .search-icon
        width: 16px
        height: 16px
        padding: 8px 9px 9px
        margin-right: 8px

    .search-icon
        margin-right: 16px

    .main-logo
        width: 190px
        height: 25px

    .header-btns button
        padding: 11px 12px 8px
        background-color: #567b95

        text-transform: uppercase
        font-size: 1.1em
        font-weight: 700
        color: $white
        border: none
        border-radius: 3px

    .header-btns button:first-child
        margin-right: 6px
