/* Color variables */
$white: #fff
$blue: #326891
$black: #333
$deep-black: #000

html
    font-size: 10px
    font-family: Arial, Helvetica, sans-serif

    min-height: 140vh

nav
    display: flex
    justify-content: space-between
    align-items: center

    width: 100%
    position: fixed
    z-index: 999
    background-color: $white

    padding: 4px 15px
    border-bottom: 1px solid #e2e2e2

    div
        display: flex
        justify-content: center
        align-items: center

        flex: 1

    div.header-icons
        justify-content: flex-start

    div.header-btns
        justify-content: flex-end

    a
        font-size: 1.4em
        font-weight: 700
        text-transform: uppercase

        &:hover
            text-decoration: underline

    .menu-icon, .search-icon
        width: 16px
        height: 16px
        padding: 8px 9px 9px
        margin-right: 8px

        cursor: pointer
        transition: 300ms

        &:hover
            background-color: #f7f7f7

    .search-icon
        margin-right: 16px

    .main-logo
        width: 190px
        height: 25px

    .header-btns button
        padding: 11px 12px 8px
        background-color: #567b95

        text-transform: uppercase
        font-size: 1.1em
        font-weight: 700
        color: $white
        border: none
        border-radius: 3px

    .header-btns button:first-child
        margin-right: 6px

main
    display: flex
    padding-top: 42px

    article
        display: flex
        flex-direction: column
        align-items: center
        width: 100%
        padding: 60px

        font-family: 'Times New Roman', Times, serif

        header.main-header
            display: flex
            align-items: center
            width: 100%

            & > h1
                display: block
                margin: 0 auto 16px
                width: 600px

                line-height: 1.2em
                font-size: 40px
                font-family: 'Times New Roman', Times, serif
                font-style: italic
                font-weight: 700

        figure
            display: flex
            flex-direction: column
            margin: 10px auto 43px

            > img.cover-img
                width: 1200px

            & > figcaption
                margin: 10px 20px 0 0
                max-width: 850px
                font-size: 16px

                line-height: 1.3em
                color: #666

                & > span
                    letter-spacing: 0.01em
                    font-size: 14px
                    font-weight: 500
                    color: #888888

        figure.mid-article-fig
            > img
                width: 720px

            > figcaption
                width: 720px
                padding-right: 20px

        header.secondary-header
            display: flex
            flex-direction: column
            align-items: flex-start
            justify-content: flex-start
            width: 600px
            margin-bottom: 25px

            p
                font-family: Arial, Helvetica, sans-serif
                font-size: 15px
                font-weight: bold

                margin-bottom: 15px

                span
                    text-decoration: underline silver
                    cursor: pointer

                    &:hover
                        text-decoration: none

            & > div
                width: 100%
                display: flex
                justify-content: space-between
                align-items: center

                time
                    color: #333333
                    font-size: 13px
                    font-family: Arial, Helvetica, sans-serif

.toolbar
    display: flex
    li:not(:last-child)
        margin-right: 16px

    li:not(.toolbar-icon) svg
        &:hover
            opacity: 0.3
            cursor: pointer

    li.toolbar-icon svg
        background-color: #eee
        border: 1px solid #eee
        border-radius: 50%
        width: 15px
        height: 15px
        padding: 5px

        &:hover
            background-color: transparent
            border-color: #ccc
            cursor: pointer

    li.toolbar-comments
        display: inline-flex
        position: relative

    li.toolbar-comments i
        display: flex
        align-items: center
        justify-content: center
        position: relative
        background: transparent
        border: 1px solid rgb(102, 102, 102)
        border-radius: 4px
        width: auto
        min-width: 26px
        min-height: 14px
        padding: 4px

        & > span
            color: rgb(0, 0, 0)
            font-size: 1em
            font-family: Arial, Helvetica, sans-serif
            line-height: 1em

            &::before
                position: absolute
                display: block
                border-color: rgb(102, 102, 102) transparent
                border-style: solid
                border-width: 6px 0px 0px 8px
                content: ""
                width: 0px
                bottom: -7px
                left: 15px

            &::after
                position: absolute
                display: block
                border-color: rgb(255, 255, 255) transparent
                border-style: solid
                border-width: 6px 0px 0px 6px
                width: 0px
                bottom: -6px
                content: ""
                left: 16px

section
    display: flex
    flex-direction: column

    width: 600px

    p
        font-size: 21.5px
        line-height: 1.3em
        margin-bottom: 16px
        a
            color: $blue
            text-decoration: underline

    strong
        font-weight: bold

    .video-player
        display: flex
        flex-direction: column

        width: 100%
        margin: 30px 0

        > p
            margin: 10px 0
            font-size: 17px
            color: #666
            line-height: 1.3em

            > span
                display: inline
                color: #888
                font-size: 15px

.advert
    display: flex
    flex-direction: column
    align-items: center
    font-family: Arial, Helvetica, sans-serif
    font-size: 15px
    font-weight: bold

    margin: 10px 0 26px

    .divider
        width: 72px
        border-bottom: 1px solid #ccc

    .divider-top
        margin-bottom: 16px

    .divider-bottom
        margin-top: 16px

    span
        color: $black

    a
        color: $blue
        text-decoration: none

.grid-display
    display: flex
    width: auto
    width: 950px
    margin-bottom: 50px

    h1
        font-size: 20px
        font-weight: bold
        line-height: 1.5em
        margin-top: 16px

    > p
        font-size: 15px
        color: #666

    .image-wrapper
        position: relative

        img
            width: 100%

        .image-text
            position: absolute
            width: 228px
            font-family: Arial, Helvetica, sans-serif

            > span
                font-size: 11px
                font-weight: bold
                margin-right: 8px
                text-transform: uppercase
                display: inline

            > p
                font-size: 14px
                display: inline
                color: #666
                line-height: 1.3em

        .image-text-1
            top: 24.8264%
            left: 0.0436%

        .image-text-2
            top: 24.8264%
            left: 25.5619%

        .image-text-3
            top: 24.8264%
            left: 51.0800%

        .image-text-4
            top: 24.8264%
            left: 76.5982%

        .image-text-5
            top: 73.4375%
            left: 0.0436%

        .image-text-6
            top: 73.4375%
            left: 25.5619%

        .image-text-7
            top: 73.4375%
            left: 51.0800%
        .image-text-8
            top: 73.4375%
            left: 76.5982%

    > .divider
        width: 60px
        border-bottom: 2px solid $black
        margin: 24px 0 13px

    > span
        font-size: 14px
        font-family: Arial, Helvetica, sans-serif

.footnote
    > p
        color: #666666
        font-size: 12px
        font-family: Arial, Helvetica, sans-serif
        letter-spacing: -.1 px
        margin: 12px 0 36px

        > a
            color: #666

    > div
        display: flex
        justify-content: space-between
        width: 100%

        button
            flex: 1
            padding: 11px 12px 8px
            background-color: #567b95

            text-transform: uppercase
            font-size: 13px
            font-weight: bold
            font-family: Arial, Helvetica, sans-serif
            letter-spacing: .5px
            color: $white
            border: none
            border-radius: 3px

        > .toolbar
            flex: 1
            justify-content: flex-end
